body {
  background-color: pink;
  display: grid;
  justify-content: center;
  align-items: center;
}

canvas {
  background: white;
  border-radius: 30px;
  justify-self: center;
}

input {
  border: 0;
  padding: 10px 30px;
}

input[type="button"]:hover {
  cursor: pointer;
}

input:hover {
  background: black;
  color: white;
}

.text_result {
  text-align: center;
  font-style: italic;
}
